[Unit]
Description=SYN Shop Member Managment System
After=network.target

[Service]
Type=simple
User=brian
WorkingDirectory=/opt/ShopIdentifyer
ExecStart=/opt/ShopIdentifyer/start_gunicorn.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
