<!DOCTYPE html>
<html>

<title>SYN Shop Admin Interface</title>

<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/jasny-bootstrap.min.css') }}" rel="stylesheet">

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jasny-bootstrap.min.js') }}"></script>

<style>
    body {
        min-height: 1000px;
        padding-top: 70px;
    }

    th {
        background-color:#eee;
    }
  </style>

</head>
<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/admin">SYN Shop Identity Management System</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            {% if session.logged_in %}
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

<div class="container">

<div class="list-group">
  <h3>What do you want to do?</h3>
  {% if session.logged_in %}
  <a href="/admin/onboard" class="list-group-item">Onboard New Members</a>
  <a href="/admin/badges" class="list-group-item">Manage RFID Badges</a>
  {% endif %}
  <a href="/member/search" class="list-group-item">Search for an Existing Member</a>
</div>

<div class="list-group">
<h3>There are currently {{entries|length}} Active Members at SYN Shop</h3>
<table class="table table-hover table-bordered" id="results">
    <thead>
    <tr><th>Full Name</th><th>Stripe Email</th><th>Is Vetted?</th><th>Payment Status</th></tr>
    </thead>
    <tbody>
    {% for entry in entries %}
      {% if entry[7] == "past_due" %}
        <tr class="warning">
      {% else %}
        <tr>
      {% endif %}
        <td><a href="/member/{{ entry[0] }}">{{ entry[2] }}</a></td>
        <td>{{ entry[6] }}</td>

        {% if entry[3] == "NOT VETTED" %}
            <td>{{ entry[3] }}</td>
        {% else %}
            {% if entry[5] == None %}
                <td>VETTED</td>
            {% else %}
                <td><a href="/member/{{ entry[0] }}/files/vetted-membership-form.pdf">VETTED</a></td>
            {% endif %}
        {% endif %}

        {% if entry[7] == "past_due" %}
          <td>PAST DUE</td>
        {% else %}
          <td>ACTIVE</td>
        {% endif %}

    </tr>
    {% else %}
      <tr><td colspan="3">No entries here so far</td></tr>
    {% endfor %}

</tbody>
</table>

</div>

</div>

</body>
</html>
