<!DOCTYPE html>
<html>

<title>SYN Shop Admin Interface</title>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/images/favicon.ico" rel="shortcut icon" >
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <script>
    $(document).ready(function() {

      $('#showPaused').click(function(){

        if ($('#showPaused').html() == "Hide Paused Members") {
          $('#showPaused').html("Show Paused Members");
        } else {
          $('#showPaused').html("Hide Paused Members");
        }
        $('.paused').toggle();
      });

      $('.paused').hide();

    });
  </script>
</head>

<body>

  <nav class="navbar navbar-expand bg-primary" data-bs-theme="dark" style="margin-bottom:30px;">
    <div class="container">
      <a class="navbar-brand">
        SYN Shop Identity Management
      </a>
      <ul class="navbar-nav">
        {% if session.logged_in %}
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/logout">Logout</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/login">Login</a></li>
        {% endif %}  
      </ul>
    </div>
  </nav>

<div class="container" style="padding-bottom:30px;">

  <div class="alert alert-success" role="alert">
    <h5>Current Member Statistics:</h5>
    Total: {{ us.total_membership.count }},
    Active: {{ us.total_vetted.count + us.total_not_vetted.count }},
    Vetted: {{ us.total_vetted.count }},
    Not Vetted: {{ us.total_not_vetted.count }},
    Free: {{ us.total_free.count }},
    Paused: {{ us.total_paused.count }}
  </div>

  <div class="list-group" style="padding-bottom:30px;">
    <h2>What do you want to do?</h2>
    <a href="/admin/onboard" class="list-group-item">Onboard New Members</a>
    <a href="/admin/reactivate" class="list-group-item">Reactivate Member</a>
    <a href="/admin/eventlog" class="list-group-item">View Access Control Event Log</a>
    <a href="/admin/dooraccess" class="list-group-item">RFID Token Management</a>
  </div>

  <h2>Last 5 Door Access Events</h2>
  <table class="table table-hover table-bordered">
      <thead>
      <tr class="table-primary">
        <th>Event ID</th>
        <th>Timestamp</th>
        <th>Member Name</th>
        <th>Comment</th>
        <th>RFID Hex</th>
        <th>Event Status</th>
      </tr>
      </thead>
      <tbody>
      {% for e in el %}
        {% if e['event_type'] | upper == "ACCESS_DENY" %}
        <tr class="table-danger">
        {% else %}
        <tr>
        {% endif %}
          <td>{{ e['event_id'] }}</td>
          <td>{{ e['created_on'] }}</td>
          {% if e['full_name'] == None %}
          <td>UNREGISTERED BADGE</td>
          {% else %}
          <td><a href="/member/{{ e['stripe_id'] }}">{{ e['full_name'] }}</a></td>
          {% endif %}
          <td>{{ e['rfid_token_comment'] | upper }}</td>
          <td>{{ e['rfid_token_hex'] | upper }}</td>
          <td>{{ e['event_type'] | upper }}</td>        
        </tr>
      {% else %}
        <tr><td colspan="6">No entries here so far</td></tr>
      {% endfor %}

    </tbody>
  </table>
  
  <h2>Active Members</h2>
  <button class="btn btn-sm btn-primary" style="margin-bottom:10px" id="showPaused">Show Paused Members</button>
  <table class="table table-hover table-bordered">
      <thead>
      <tr class="table-primary">
        <th>Full Name</th>
        <th>Discord Username</th>
        <th>Vetted?</th>
        <th>RFIDs?</th>
        <th>Subscription Plan</th>
        <th>Payment</th>
      </tr>
      </thead>
      <tbody>
      {% for entry in entries %}

        {% if entry['subscription_description'] | upper == "PAUSED MEMBERSHIP" %}
        <tr class="table-warning paused">
        {% elif entry['last_payment_status'] | upper != "SUCCEEDED" and entry['last_payment_status'] != None %}
        <tr class="table-danger">
        {% else %}
        <tr>
        {% endif %}

          <td><a href="/member/{{ entry['stripe_id'] }}">{{ entry['full_name'] }}</a></td>
          <td>{{ entry['discord_username'] }}</td>
          {% if entry['is_vetted'] == "NOT VETTED" %}
          <td>NV</td>
          {% else %}
          <td>V</td>
          {% endif %}
    
          <td>{{ entry['has_rfid'] | upper }}</td>

          {% if entry['subscription_description'] == None %}
            <td>NO SUBSCRIPTION PLAN</td>
          {% else %}
            {% if entry['coupon'] | upper != "NONE" %}
              <td><a href="https://dashboard.stripe.com/customers/{{entry['stripe_id']}}" target=”_blank”>{{ entry['subscription_description'] | upper }} + {{ entry['coupon'] | upper}}</a></td>
            {% else %}          
              <td><a href="https://dashboard.stripe.com/customers/{{entry['stripe_id']}}" target=”_blank”>{{ entry['subscription_description'] | upper }} </a></td>
            {% endif %}
          {% endif %}

          {% if entry['last_payment_status'] == None %}
          <td>N/A</td>
          {% else %}
          <td>{{ entry['last_payment_status'] | upper }}</td>
          {% endif %}
        
        </tr>
      {% else %}
        <tr><td colspan="6">No entries here so far</td></tr>
      {% endfor %}

    </tbody>
  </table>

</div>

</body>
</html>
