<!DOCTYPE html>
<html>

<title>SYN Shop Member - Edit member</title>

<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/jasny-bootstrap.min.css') }}" rel="stylesheet">

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jasny-bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/webcam.min.js') }}"></script>

  <script type="text/javascript">

    $(document).ready (
      function() {
        
      $('[data-toggle="tooltip"]').tooltip();

      Webcam.set({
        width: 320,
        height: 240,
        dest_width: 640,
        dest_height: 480,
        image_format: 'jpeg',
        jpeg_quality: 100,
        force_flash: false
      });
  
      Webcam.attach( '#badge_camera' );
      Webcam.attach( '#liability_camera' );
      Webcam.attach( '#vetted_camera' );
  
      $("#badge_previewSnapshot").bind( "click", function() {
        Webcam.freeze();
        document.getElementById('badge_pre_take_buttons').style.display = 'none';
        document.getElementById('badge_post_take_buttons').style.display = '';
      });
  
      $("#badge_cancelPreview").bind( "click", function() {
        Webcam.unfreeze();
        document.getElementById('badge_pre_take_buttons').style.display = '';
        document.getElementById('badge_post_take_buttons').style.display = 'none';
      });
  
      $("#badge_saveSnapshot").bind( "click", function() {
        Webcam.snap( function(data_uri) {
          var raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');
          document.getElementById('badge_base64_data').value = raw_image_data;
          $('#badge_snapshot_modal').modal('hide')
          document.getElementById('badge_pre_take_buttons').style.display = '';
          document.getElementById('badge_post_take_buttons').style.display = 'none';
        });
      });
  
      $("#liability_previewSnapshot").bind( "click", function() {
        Webcam.freeze();
        document.getElementById('liability_pre_take_buttons').style.display = 'none';
        document.getElementById('liability_post_take_buttons').style.display = '';
      });
  
      $("#liability_cancelPreview").bind( "click", function() {
        Webcam.unfreeze();
        document.getElementById('liability_pre_take_buttons').style.display = '';
        document.getElementById('liability_post_take_buttons').style.display = 'none';
      });
  
      $("#liability_saveSnapshot").bind( "click", function() {
        Webcam.snap( function(data_uri) {
          var raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');
          document.getElementById('liability_base64_data').value = raw_image_data;
          $('#liability_snapshot_modal').modal('hide')
          document.getElementById('liability_pre_take_buttons').style.display = '';
          document.getElementById('liability_post_take_buttons').style.display = 'none';
        });
      });
  
      $("#vetted_previewSnapshot").bind( "click", function() {
        Webcam.freeze();
        document.getElementById('vetted_pre_take_buttons').style.display = 'none';
        document.getElementById('vetted_post_take_buttons').style.display = '';
      });
  
      $("#vetted_cancelPreview").bind( "click", function() {
        Webcam.unfreeze();
        document.getElementById('vetted_pre_take_buttons').style.display = '';
        document.getElementById('vetted_post_take_buttons').style.display = 'none';
      });
  
      $("#vetted_saveSnapshot").bind( "click", function() {
        Webcam.snap( function(data_uri) {
          var raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');
          document.getElementById('vetted_base64_data').value = raw_image_data;
          $('#vetted_snapshot_modal').modal('hide')
          document.getElementById('vetted_pre_take_buttons').style.display = '';
          document.getElementById('vetted_post_take_buttons').style.display = 'none';
        });
      });
    });
    
    </script>
  
  <style>
  body {
    min-height: 1000px;
    padding-top: 70px;
  }

  </style>

</head>
<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/admin">SYN Shop Identity Management System</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">

    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">

    <div class="alert alert-info" role="alert">
      If you need to update information that is read-only, please email <strong>brian@synshop.org</strong>.
    </div>

    {% if member.is_admin == True %}

    <div class="well">
        <a href="/admin/changepassword/{{member.stripe_id}}">Click here to change your login password</a>
    </div>

    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Member</h3>
      </div>
      <div class="panel-body">

      <div class="form-group">
        <label for="meta_info" class="col-sm-2 control-label">Member Info:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="meta_info" name="meta_info" value="Created On: {{ member.created_on }}, Last Updated: {{ member.changed_on }}" readonly>
        </div>
      </div>

      <div class="form-group">
        <label for="full_name" class="col-sm-2 control-label">Stripe Id:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="stripe_id" name="stripe_id" value="{{ member.stripe_id }}" readonly>
        </div>
      </div>

      <div class="form-group">
        <label for="full_name" class="col-sm-2 control-label"><a href="#" data-toggle="tooltip" title="Stripe information is pulled real-time">Stripe Status:</a></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="stripe_status" name="stripe_status" value="{{ member.stripe_status }}" readonly>
        </div>
      </div>

      <div class="form-group">
        <label for="full_name" class="col-sm-2 control-label"><a href="#" data-toggle="tooltip" title="Stripe information is pulled real-time">Stripe Payment Plan:</a></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="stripe_plan" name="stripe_plan" value="{{ member.stripe_plan }}" readonly>
        </div>
      </div>

      <div class="form-group">
        <label for="stripe_email" class="col-sm-2 control-label"><a href="#" data-toggle="tooltip" title="Stripe information is pulled real-time">Stripe Email:</a></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="stripe_email" name="stripe_email" value="{{ member.stripe_email }}" readonly>
        </div>
      </div>

      <div class="form-group">
        <label for="door_access" class="col-sm-2 control-label">RFID Tokens:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="rfid_tokens" name="rfid_tokens" value="{{ member.rfid_tokens }}" readonly>
        </div>
      </div

      <hr/>

      <div class="form-group">
        <label for="badge_status" class="col-sm-2 control-label">Member Status:</label>
        <div class="col-sm-10">
          <select class="form-control" id="member_status" name="member_status">
            {% for n in ['ACTIVE', 'INACTIVE'] %}
              {% if n == member.member_status %}
                <option value="{{n}}" selected="selected">{{n}}</option>
              {% else %}
                <option value="{{n}}">{{n}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="is_vetted" class="col-sm-2 control-label">Vetted Member:</label>
        <div class="col-sm-10">
          <select class="form-control" id="is_vetted" name="is_vetted">
            {% for n in ['VETTED','NOT VETTED'] %}
            {% if n == member.vetted_status %}
            <option value="{{n}}" selected="selected">{{n}}</option>
            {% else %}
            <option value="{{n}}">{{n}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>

      <hr/>

      <div class="form-group">
        <label for="full_name" class="col-sm-2 control-label">Full Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="full_name" name="full_name" value="{{ member.full_name }}">
        </div>
      </div>

      <div class="form-group">
        <label for="nick_name" class="col-sm-2 control-label">Nickname:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nick_name" name="nick_name" value="{{ member.nick_name }}">
        </div>
      </div>

      <div class="form-group">
        <label for="meetup_email" class="col-sm-2 control-label">Meetup Email:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="meetup_email" name="meetup_email" value="{{ member.meetup_email }}">
        </div>
      </div>
      
      <div class="form-group">
        <label for="meetup_email" class="col-sm-2 control-label">Discord Handle:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="discord_handle" name="discord_handle" value="{{ member.discord_handle }}">
        </div>
      </div>

      <div class="form-group">
        <label for="meetup_email" class="col-sm-2 control-label">Locker:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="locker_num" name="locker_num" value="{{ member.locker_num }}">
        </div>
      </div>
      
      <div class="form-group">
        <label for="meetup_email" class="col-sm-2 control-label">LED Color:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="locker_num" name="led_color" value="{{ member.led_color }}">
        </div>
      </div>

      <div class="form-group">
        <label for="mobile" class="col-sm-2 control-label">Cell #:</label>
        <div class="col-sm-10">
          <input type="tel" class="form-control" id="mobile" name="mobile" data-mask="999-999-9999" value="{{ member.mobile }}">
        </div>
      </div>

      <hr/>

      <div class="form-group">
        <label for="emergency_contact_name" class="col-sm-2 control-label">Emergency Contact Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="emergency_contact_name" name="emergency_contact_name" value="{{ member.emergency_contact_name }}">
        </div>
      </div>

      <div class="form-group">
        <label for="emergency_contact_mobile" class="col-sm-2 control-label">Emergency Contact #:</label>
        <div class="col-sm-10">
          <input type="tel" class="form-control" id="emergency_contact_mobile" name="emergency_contact_mobile" data-mask="999-999-9999" value="{{ member.emergency_contact_mobile }}" placeholder="">
        </div>
      </div>

      <hr/>
      <div class="form-group">
        <label class="col-sm-2 control-label">Photo:</label>
        <div class="col-sm-10">

          <!-- Hidden data field for webcam badge photo -->
          <input type="hidden" id="badge_base64_data" name="badge_base64_data" value=""/>

          <!-- Button to trigger modal dialog for webcam capture -->
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#badge_snapshot_modal">
            Capture via webcam
          </button>
          
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#badge_upload_modal">
            Upload a file
          </button>
          
          <!-- Modal Dialog for Webcam Capture -->
          <div class="modal fade" id="badge_snapshot_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4>Take a photo!</h4>
                  <div class="alert alert-info" role="alert">
                      When capturing the photo, make sure to get the member's face fully inside the green rectangular box.
                  </div>
                </div>
                <div class="modal-body">
                  <div class="center-block" id="badge_camera" style="width:320px; height:240px;"></div>
                  <img style="position:absolute;left:136px;top:20px;" src="{{ url_for('static', filename='images/target-dashed.png')}}">
                </div>
                <div class="modal-footer">
                  <div id="badge_pre_take_buttons">
                    <button type="button" class="btn btn-danger center-block" id="badge_previewSnapshot">Take Snapshot</button>
                  </div>
                  <div id="badge_post_take_buttons" style="display:none;text-align:center;">
                    <button type="button" class="btn btn-default" id="badge_cancelPreview">Retake</button>
                    <button type="button" class="btn btn-primary" id="badge_saveSnapshot">Keep Photo</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <!-- Modal Dialog for File Upload (Badge Photo) -->
        <div class="modal fade" id="badge_upload_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Upload a File for Badge Photo</h4>
              </div>
              <div class="modal-body">
                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                    <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                    <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span>
                    <input type="file" name="badge_file"></span>
                    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr/>

    <div class="form-group">
      <label class="col-sm-2 control-label">Liability Wavier:</label>
      <div class="col-sm-10">

        <!-- Hidden data field for webcam photo -->
        <input type="hidden" id="liability_base64_data" name="liability_base64_data" value=""/>

        <!-- Button to trigger modal dialog for webcam capture -->
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#liability_snapshot_modal">
          Capture via webcam
        </button>
        
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#liability_upload_modal">
          Upload a file
        </button>
        
        <!-- Modal Dialog for Webcam Capture -->
        <div class="modal fade" id="liability_snapshot_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Capture document via webcam</h4>
                <div class="alert alert-info" role="alert">
                    When capturing the document, make sure to get the all the text and the signature in frame.  
                    The image will be rotated and converted to PDF when uploaded.
                </div>
              </div>
              <div class="modal-body">
                <div class="center-block" id="liability_camera" style="width:480px; height:680px;"></div>
              </div>
              <div class="modal-footer">
                <div id="liability_pre_take_buttons">
                  <button type="button" class="btn btn-danger center-block" id="liability_previewSnapshot">Take Snapshot</button>
                </div>
                <div id="liability_post_take_buttons" style="display:none;text-align:center;">
                  <button type="button" class="btn btn-default" id="liability_cancelPreview">Retake</button>
                  <button type="button" class="btn btn-primary" id="liability_saveSnapshot">Keep Photo</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      <!-- Modal Dialog for File Upload (Liability Wavier) -->
      <div class="modal fade" id="liability_upload_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4>Upload a File for the Liability Wavier</h4>
            </div>
            <div class="modal-body">
              <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                  <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                  <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span>
                  <input type="file" name="liability_file"></span>
                  <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <hr/>

        <div class="form-group">
          <label class="col-sm-2 control-label">Vetted Membership Form:</label>
          <div class="col-sm-10">
      
            <!-- Hidden data field for webcam photo -->
            <input type="hidden" id="vetted_base64_data" name="vetted_base64_data" value=""/>
      
            <!-- Button to trigger modal dialog for webcam capture -->
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#vetted_snapshot_modal">
              Capture via webcam
            </button>
            
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#vetted_upload_modal">
              Upload a file
            </button>
            
            <!-- Modal Dialog for Webcam Capture -->
            <div class="modal fade" id="vetted_snapshot_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>Capture document via webcam</h4>
                    <div class="alert alert-info" role="alert">
                      When capturing the document, make sure to get the all the text and the signature in frame.  
                      The image will be rotated and converted to PDF when uploaded.
                    </div>
                  </div>
                  <div class="modal-body">
                    <div class="center-block" id="vetted_camera" style="width:320px; height:240px;"></div>
                  </div>
                  <div class="modal-footer">
                    <div id="vetted_pre_take_buttons">
                      <button type="button" class="btn btn-danger center-block" id="vetted_previewSnapshot">Take Snapshot</button>
                    </div>
                    <div id="vetted_post_take_buttons" style="display:none;text-align:center;">
                      <button type="button" class="btn btn-default" id="vetted_cancelPreview">Retake</button>
                      <button type="button" class="btn btn-primary" id="vetted_saveSnapshot">Keep Photo</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
          <!-- Modal Dialog for File Upload (Vetted Membership Form) -->
          <div class="modal fade" id="vetted_upload_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4>Upload a File for the Vetted Membership Form</h4>
                </div>
                <div class="modal-body">
                  <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                      <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                      <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span>
                      <input type="file" name="vetted_file"></span>
                      <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <hr/>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">Update!</button>
        </div>
      </div>
    </form>

</div>
</div>

  </div>

</body>
</html>
