<!DOCTYPE html>
<html>

<title>SYN Shop Admin Interface</title>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</head>
<body>

  <nav class="navbar bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">
        SYN Shop Identity Management
      </a>
      <ul class="navbar-nav">
        {% if session.logged_in %}
        <li><a class="nav-link active" aria-current="page" href="/logout">Logout</a></li>
        {% else %}
        <li><a class="nav-link active" aria-current="page" href="/login">Login</a></li>
        {% endif %}  
      </ul>
    </div>
  </nav>

    <div class="container-fluid" style="padding:100px;width:75%;">
      <h1>
        SYN Shop currently has <span class="text-primary">{{ stats['total_membership']['count'] }}</span> members:
      </h1>
      <ul>
        <h1><li><span class="text-primary">{{ stats['total_vetted']['count'] }}</span> vetted</li></h1>
        <h1><li><span class="text-primary">{{ stats['total_not_vetted']['count'] }}</span> regular</li></h1>
        <h1><li><span class="text-primary">{{ stats['total_paused']['count'] }}</span> paused</li></h1>
        <h1><li><span class="text-primary">{{ stats['total_need_onboarding']['count'] }} needing onboarding</span></li></h1>
      </ul>
  </div>
</body>
</html>
