<!DOCTYPE html>
<html>

<title>SYN Shop Member - Add new member</title>

<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/jasny-bootstrap.min.css') }}" rel="stylesheet">

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jasny-bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/webcam.min.js') }}"></script>

  <script type="text/javascript">

  $(document).ready (
    function() {

      /*
      var badge_serial = "{{ member.badge_serial }}";

      if (badge_serial == "-1") {
          refresh_rate = 1000;
      } else {
          refresh_rate = 86400000;
          $('#badge_serial').val(badge_serial);
      }

      setInterval(function() {
        $.ajax({ url: "/queue/message", type: "DELETE", success: function(data) {
          if (data.message != "NULL") {
            $('#badge_serial').val(data.message);
          }
        }, dataType: "json"});
      }, refresh_rate
    );
    */

    Webcam.set({
      width: 320,
      height: 240,
      dest_width: 640,
      dest_height: 480,
      image_format: 'jpeg',
      jpeg_quality: 100,
      force_flash: false
    });

    Webcam.attach( '#camera' );

    $("#previewSnapshot").bind( "click", function() {
      Webcam.freeze();
      document.getElementById('pre_take_buttons').style.display = 'none';
      document.getElementById('post_take_buttons').style.display = '';
    });

    $("#cancelPreview").bind( "click", function() {
      Webcam.unfreeze();
      document.getElementById('pre_take_buttons').style.display = '';
      document.getElementById('post_take_buttons').style.display = 'none';
    });

    $("#saveSnapshot").bind( "click", function() {
      Webcam.snap( function(data_uri) {
        var raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');
        document.getElementById('base64_photo_data').value = raw_image_data;
        $('#snapshot_modal').modal('hide')
        document.getElementById('pre_take_buttons').style.display = '';
        document.getElementById('post_take_buttons').style.display = 'none';
      });
    });

  });

  </script>

  <style>
  body {
    min-height: 1000px;
    padding-top: 70px;
  }

  </style>

</head>
<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/admin/onboard">SYN Shop Identity Management System</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        </ul>
        <!--
        <ul class="nav navbar-form navbar-right">
          <li>  <button type="button" class="btn btn-default" id='again'>Validate a different user</button> </li></li>
        </ul>
        -->
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">

    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
        <div class="alert alert-info" role="alert">
            Please fill out as much information as possible.  Attached forms should be in PDF and photos should be in jpeg.
        </div>

        <hr/>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Onboard New Member</h3>
      </div>
      <div class="panel-body">

        <div class="form-group">
          <label for="badge_serial" class="col-sm-2 control-label">Badge Serial:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="badge_serial" name="badge_serial" placeholder="Swipe Badge on RFID Reader to Begin">
          </div>
        </div>

        <hr/>

        <div class="form-group">
          <label for="drupal_name" class="col-sm-2 control-label">Drupal Id:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="drupal_id" name="drupal_id" value="{{ member.drupal_id }}" readonly>
          </div>
        </div>

        <div class="form-group">
          <label for="stripe_email" class="col-sm-2 control-label">Stripe Id:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="stripe_id" name="stripe_id" value="{{ member.stripe_id }}" readonly>
          </div>
        </div>

        <div class="form-group">
          <label for="stripe_email" class="col-sm-2 control-label">Stripe Email:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="stripe_email" name="stripe_email" value="{{ member.stripe_email }}" readonly>
          </div>
        </div>

        <hr/>

      <div class="form-group">
        <label for="full_name" class="col-sm-2 control-label">Full Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="full_name" name="full_name" value="{{ member.full_name }}">
        </div>
      </div>

      <div class="form-group">
        <label for="nick_name" class="col-sm-2 control-label">Nickname:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nick_name" name="nick_name" value="{{ member.drupal_name }}">
        </div>
      </div>

      <div class="form-group">
        <label for="meetup_email" class="col-sm-2 control-label">Meetup Email:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="meetup_email" name="meetup_email" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="mobile" class="col-sm-2 control-label">Cell #:</label>
        <div class="col-sm-10">
          <input type="tel" class="form-control" id="mobile" name="mobile" data-mask="999-999-9999" placeholder="">
        </div>
      </div>

      <div class="form-group">
        <label for="emergency_contact_name" class="col-sm-2 control-label">Emergency Contact Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="emergency_contact_name" name="emergency_contact_name" placeholder="">
        </div>
      </div>

      <div class="form-group">
        <label for="emergency_contact_mobile" class="col-sm-2 control-label">Emergency Contact #:</label>
        <div class="col-sm-10">
          <input type="tel" class="form-control" id="emergency_contact_mobile" name="emergency_contact_mobile" data-mask="999-999-9999" placeholder="">
        </div>
      </div>

      <hr/>

      <div class="form-group">
        <label class="col-sm-2 control-label">Photo:</label>
        <div class="col-sm-10">

          <!-- Hidden data field for webcam photo -->
          <input type="hidden" id="base64_photo_data" name="base64_photo_data" value=""/>

          <!-- Button to trigger modal dialog for webcam capture -->
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#snapshot_modal">
            Capture via webcam
          </button>
          
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#photo_upload_modal">
            Upload a file
          </button>
          
          <!-- Modal Dialog for Webcam Capture -->
          <div class="modal fade" id="snapshot_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4>Take a photo!</h4>
                  <div class="alert alert-info" role="alert">
                      When capturing the photo, make sure to get the member's face fully inside the green rectangular box.
                  </div>
                </div>
                <div class="modal-body">
                  <div class="center-block" id="camera" style="width:320px; height:240px;"></div>
                  <img style="position:absolute;left:136px;top:20px;" src="{{ url_for('static', filename='images/target-dashed.png')}}">
                </div>
                <div class="modal-footer">
                  <div id="pre_take_buttons">
                    <button type="button" class="btn btn-danger center-block" id="previewSnapshot">Take Snapshot</button>
                  </div>
                  <div id="post_take_buttons" style="display:none;text-align:center;">
                    <button type="button" class="btn btn-default" id="cancelPreview">Retake</button>
                    <button type="button" class="btn btn-primary" id="saveSnapshot">Keep Photo</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <!-- Modal Dialog for File Upload (Badge Photo) -->
        <div class="modal fade" id="photo_upload_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Upload a File for Badge Photo</h4>
              </div>
              <div class="modal-body">
                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                    <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                    <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span>
                    <input type="file" name="badge_photo"></span>
                    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr/>

    <div class="form-group">
      <label class="col-sm-2 control-label">Liability Wavier:</label>
      <div class="col-sm-10">

        <!-- Hidden data field for webcam photo -->
        <input type="hidden" id="base64_liability_data" name="base64_liability_data" value=""/>

        <!-- Button to trigger modal dialog for webcam capture -->
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#liability_modal">
          Capture via webcam
        </button>
        
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#liability_upload_modal">
          Upload a file
        </button>
        
        <!-- Modal Dialog for Webcam Capture -->
        <div class="modal fade" id="liability_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Capture document via webcam</h4>
                <div class="alert alert-info" role="alert">
                    When capturing the document, make sure to get the all the text inside the green rectangular box.
                </div>
              </div>
              <div class="modal-body">
                <div class="center-block" id="camera" style="width:320px; height:240px;"></div>
                <img style="position:absolute;left:136px;top:20px;" src="{{ url_for('static', filename='images/target-dashed.png')}}">
              </div>
              <div class="modal-footer">
                <div id="pre_take_buttons">
                  <button type="button" class="btn btn-danger center-block" id="previewSnapshot">Take Snapshot</button>
                </div>
                <div id="post_take_buttons" style="display:none;text-align:center;">
                  <button type="button" class="btn btn-default" id="cancelPreview">Retake</button>
                  <button type="button" class="btn btn-primary" id="saveSnapshot">Keep Photo</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      <!-- Modal Dialog for File Upload (Liability Wavier) -->
      <div class="modal fade" id="liability_upload_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4>Upload a File for the Liability Wavier</h4>
            </div>
            <div class="modal-body">
              <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                  <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                  <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span>
                  <input type="file" name="liability_wavier"></span>
                  <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <hr/>

        <div class="form-group">
          <label for="is_vetted" class="col-sm-2 control-label">Vetted Member:</label>
          <div class="col-sm-10">
            <select class="form-control" id="is_vetted" name="is_vetted">
              <option value="VETTED">VETTED</option>
              <option value="NOT VETTED" selected="selected">NOT VETTED</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Vetted Membership Form:</label>
          <div class="col-sm-10">
      
            <!-- Hidden data field for webcam photo -->
            <input type="hidden" id="base64_vetted_data" name="base64_vetted_data" value=""/>
      
            <!-- Button to trigger modal dialog for webcam capture -->
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#vetted_modal">
              Capture via webcam
            </button>
            
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#vetted_upload_modal">
              Upload a file
            </button>
            
            <!-- Modal Dialog for Webcam Capture -->
            <div class="modal fade" id="vetted_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>Capture document via webcam</h4>
                    <div class="alert alert-info" role="alert">
                        When capturing the document, make sure to get the all the text inside the green rectangular box.
                    </div>
                  </div>
                  <div class="modal-body">
                    <div class="center-block" id="camera" style="width:320px; height:240px;"></div>
                    <img style="position:absolute;left:136px;top:20px;" src="{{ url_for('static', filename='images/target-dashed.png')}}">
                  </div>
                  <div class="modal-footer">
                    <div id="pre_take_buttons">
                      <button type="button" class="btn btn-danger center-block" id="previewSnapshot">Take Snapshot</button>
                    </div>
                    <div id="post_take_buttons" style="display:none;text-align:center;">
                      <button type="button" class="btn btn-default" id="cancelPreview">Retake</button>
                      <button type="button" class="btn btn-primary" id="saveSnapshot">Keep Photo</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
          <!-- Modal Dialog for File Upload (Vetted Membership Form) -->
          <div class="modal fade" id="vetted_upload_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4>Upload a File for the Vetted Membership Form</h4>
                </div>
                <div class="modal-body">
                  <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                      <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                      <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span>
                      <input type="file" name="vetted_membership_form"></span>
                      <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary btn-success">Create!</button>
          <button type="button" id="cancel" name="cancel" class="btn btn-secondary">Cancel</button>
        </div>
      </div>
    </form>

    </div>
    </div>

  </div>

</body>
</html>
