<!DOCTYPE html>
<html>

<title>SYN Shop Onboarding Interface</title>

<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <script src="/static/js/bootstrap.bundle.min.js"></script>

</head>
<body>

  <nav class="navbar navbar-expand bg-primary" data-bs-theme="dark" style="margin-bottom:30px;">
    <div class="container">
      <a class="navbar-brand" href="/admin">
        SYN Shop Identity Management
      </a>
      <ul class="navbar-nav">
        {% if session.logged_in %}
        <li><a class="nav-link active" aria-current="page" href="/logout">Logout</a></li>
        {% else %}
        <li><a class="nav-link active" aria-current="page" href="/login">Login</a></li>
        {% endif %}  
      </ul>
    </div>
  </nav>

<div class="container">

<div class="alert alert-success" role="alert">
    <p>
    New members that need to be onboarded are automatically pulled in every 10 minutes from our 
    payment processor.  If you can't find the person you're trying to onboard and they just created 
    their account, give it a few minutes and check back.  Otherwise please sent an email to
    <a href="#" class="alert-link">brian@synshop.org</a> and he will look into it.
    </p>
    <p>
      <b>Onboarded members must have an active subscription plan and it cannot be Paused. Ask them to fix that first.</b>
    </p>
</div>

<div class="list-group">
<h3>{{ stats.total_need_onboarding.count }} Members Need Onboarding</h3>
<table class="table table-hover table-bordered" id="results">
    <thead>
    <tr class="table-primary">
      <th>Stripe Id</th>
      <th>Full Name</th>
      <th>Stripe Email</th>
      <th>Subscription Plan</th>
      <th>Subscription Status</th>
      <th>Last Payment Status</th>
    </tr>
    </thead>
    <tbody>
    {% for entry in entries %}

      {% if entry['stripe_subscription_product'] | upper == "PAUSED MEMBERSHIP" %}
        <tr class="table-warning">
      {% else %}
        <tr>
      {% endif %}

      {% if entry['stripe_subscription_product'] | upper == "PAUSED MEMBERSHIP" %}
        <td>{{ entry['stripe_id'] }}</td>
      {% else %}
        <td><a href="/member/new/{{ entry['stripe_id'] }}">{{ entry['stripe_id'] }}</a></td>
      {% endif %}
      
      <td>{{ entry['drupal_legal_name'] }}</td>
      <td>{{ entry['stripe_email'] }}</td>
      <td>{{ entry['stripe_subscription_product'] | upper }}</td>
      <td>{{ entry['stripe_subscription_status'] | upper }}</td>
      <td>{{ entry['stripe_last_payment_status'] | upper }}</td>
  </tr>
{% else %}
  <li><em>Unbelievable.  No entries here so far</em>
{% endfor %}
</tbody>
</table>
</div>

</div>

</body>
</html>
