<!DOCTYPE html>
<html>

<title>SYN Shop Onboarding Interface</title>

<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/jasny-bootstrap.min.css') }}" rel="stylesheet">

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jasny-bootstrap.min.js') }}"></script>

  <style>
    body {
      min-height: 1000px;
      padding-top: 70px;
    }

    th {
      background-color:#eee;
    }

  </style>

</head>
<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/admin">SYN Shop Identity Management System</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

<div class="container">

<div class="alert alert-success" role="alert">
    New members that need to be onboarded are automatically pulled in every 10 minutes from our 
    payment processor.  If you can't find the person you're trying to onboard and they just created 
    their account, give it a few minutes and check back.  Otherwise please sent an email to
    <a href="#" class="alert-link">brian@synshop.org</a> and he will look into it.
</div>

<div class="list-group">
<h3>{{entries|length}} Members Need Onboarding ({{ paused_count }} Paused Memberships)</h3>
<table class="table table-hover table-bordered" id="results">
    <thead>
    <tr><th>Stripe Id</th>
        <th>Drupal Legal Name</th>
        <th>Stripe Email</th>
        <th>Payment Status</th>
        <th>Subscription Type</th>
        <th>Subscription Status</th>
    </tr>
    </thead>
    <tbody>
{% for entry in entries %}
  <tr><td><a href="/member/new/{{ entry['stripe_id'] }}">{{ entry['stripe_id'] }}</a></td>
      <td>{{ entry['drupal_legal_name'] }}</td>
      <td>{{ entry['stripe_email'] }}</td>
      <td>{{ entry['stripe_last_payment_status'] }}</td>
      <td>{{ entry['stripe_subscription_product'] }}</td>
      <td>{{ entry['stripe_subscription_status'] }}</td>
  </tr>
{% else %}
  <li><em>Unbelievable.  No entries here so far</em>
{% endfor %}
</tbody>
</table>
</div>

</div>

</body>
</html>
