<!DOCTYPE html>
<html>

<title>SYN Shop Admin Interface</title>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</head>
<body>

  <nav class="navbar navbar-expand bg-primary" data-bs-theme="dark" style="margin-bottom:30px;">
    <div class="container">
      <a class="navbar-brand" href="/admin">
        SYN Shop Identity Management
      </a>
      <ul class="navbar-nav">
        {% if session.logged_in %}
        <li><a class="nav-link active" aria-current="page" href="/logout">Logout</a></li>
        {% else %}
        <li><a class="nav-link active" aria-current="page" href="/login">Login</a></li>
        {% endif %}  
      </ul>
    </div>
  </nav>

<div class="container">

  <div class="alert alert-success" role="alert" role="alert">
    Please note that only members with Non Paused and Active Stripe subscriptions can be reactivated. 
  </div>
  <form method="POST">
    
  <table class="table table-hover table-bordered" id="results">
    <thead>
    <tr class="table-primary">
        <th>Reactivate</th>
        <th>Full Name</th>
        <th>Is Vetted?</th>
        <th>Subscription Plan</th>
        <th>Subscription Status</th>
        <th>Last Payment Status</th>
        <th>Has RFIDs</th>
    </tr>
    </thead>
    <tbody>
    {% for entry in inactive_members %}
    <tr>
      {% if (entry[4] == None and entry[5] == None) or entry[4] | upper == "PAUSED MEMBERSHIP" %}
      <td></td>
      {% else %}
      <td style="text-align:center;"><input type="radio" name="stripe_id" value="{{ entry[0] }}"</td>
      {% endif %}
      <td>{{ entry[2] }}</td>      
      <td>{{ entry[3] }}</td>
      <td>{{ entry[4] | upper }}</td>
      <td>{{ entry[5] | upper }}</td>
      <td>{{ entry[6] | upper }}</td>
      <td>{{ entry[7] | upper }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

<div class="form-group">
    <button type="submit" class="btn btn-primary btn-submit">Edit Member</button>
    <button type="button" id="cancel" name="cancel" class="btn btn-secondary">Cancel</button>
</div>

</form>

</div>
</body>
</html>
