<!DOCTYPE html>
<html>

<title>SYN Shop Member - Search for Members</title>

<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  <script type="text/javascript">

  $(document).ready (

    function() {

      $("#again").click(function(){
        window.location.href = "/validate/";
      });

      //$('#search').on('click', function() {

      $('#member_name').keypress(function (e) {
        if (e.which == 13) {

        $.ajax({
          url: '/search',
          data: 's=' + $('#member_name').val(),
          dataType: 'json',
          success: function(data) {

            $('#results').html("");
            $('#results').append('<tr><th style="width:200px">Full Name</th><th>Stripe Email</th><th>Membership Status</th><th>Is Vetted</th></tr>');

            for (x in data.results) {

              $('#results').append('<tr><td><a href="/member/' + data.results[x].stripe_id + '">' + data.results[x].full_name + '</a></td><td>' + data.results[x].stripe_email + '</td><td>' + data.results[x].member_status + '</td><td>' + data.results[x].is_vetted + '</td></tr>');
            }

          }});

          return false;
        }});
    });

  </script>

<style>
  body {
    min-height: 1000px;
    padding-top: 70px;
  }

  th {
    background-color:#eee;
  }

</style>

</head>

<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">SYN Shop Identity Management System</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/validate">Validate A Different User</a></li>

          {% if session.logged_in %}
            <li><a href="/logout">Logout</a></li>
          {% else %}
            <li><a href="/login?redirect_to=/member/search">Login</a></li>
          {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

<div class="container">

  <form role="form">
    <div class="form-group">
      <label for="member_name">Member Name:</label>
      <input type="search" class="form-control" id="member_name" style="width:400px;" placeholder="Enter member name and press Enter">
      <!-- <button type="submit" class="btn btn-default" id="search">Search</button> -->
    </div>
  </form>

  <table class="table table-hover table-bordered" id="results">
  </table>

</div>



</body>
</html>
