<!DOCTYPE html>
<html>

<title>SYN Shop Validate User</title>
<head>

<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

<style type="text/css">

.scanner-icon {
  height: 300px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

h1 {
  font-family: "Arial";
  text-align: center;
}

h4 {
  font-family: "Arial";
  text-align: center;
}

.center {
  width: 50%;
  height: 80%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

</style>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript">

  $(document).ready (
    function() {

      setInterval(function(){
        $.ajax({ url: "/queue/message", type: "DELETE", success: function(data){
          if (data.message != "NULL") {
            window.location.href = "/member/" + data.message;
          }
          }, dataType: "json"});
        }, 1000
        );

    });

</script>
</head>
<body>

<div class="center">
<h1>SYN Shop Identity Management System</h1>

<h1>swipe card on reader to begin</h1>
<img class="scanner-icon" src="{{ url_for('static', filename='images/swipe-icon.png')}}" />

<h4><a href="/member/search">or click here to search for a member</a></h4>
</div>

</body>
</html>
